/Ejercicios_Arreglos/nbproject/private/
/Ejercicios_Arreglos/build/
/Clase2/nbproject/private/
/Operaciones_Arreglos/nbproject/private/
/Operaciones_Arreglos/build/
/Extra_Clase1_JonathanRosero/nbproject/private/
/Extra_Clase1_JonathanRosero/build/
/Clase_estructura3/nbproject/private/
/Clase_estructura3/build/